.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 109px;
    margin-bottom: 89px;
    .footer__description {
        width: 39%;
        p {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0.35px;
            color: #898989;
            height: 188px;
            overflow: hidden;
            margin-top: 28px;
        }
    }
    .footer__menu {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        width: 56%;
        .column-menu {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            flex: 1;
            h1 {
                font-size: 18px;
                font-weight: bold;
                letter-spacing: 0.45px;
                color: #f16d7f;
                text-transform: uppercase;
                margin-bottom: 30px;
                margin-top: 10px;
            }
            a {
                font-size: 16px;
                line-height: 45px;
                letter-spacing: 0.4px;
                color: #898989;
                text-transform: capitalize;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                &:hover {
                    text-decoration: underline;
                    color: #222222;
                }
            }
        }
    }
}

.footer-bottom {
    background-color: #e6e6e6;
    .bottom-container {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .copyright {
            font-size: 16px;
            letter-spacing: 0.4px;
            color: #7a7a7a;
            text-transform: capitalize;
        }
        .social-links a {
            width: 32px;
            height: 32px;
            background-color: white;
            margin-right: 8px;
            display: inline-block;
            text-align: center;
            i {
                font-size: 16px;
                line-height: 32px;
                width: inherit;
                color: #b2b2b2;
                margin: 0;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: white;
                    background-color: #f16d7f;
                }
            }
        }
    }
}